<!-- START @PAGE CONTENT -->
<section id="page-content">

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-book"></i>Orders <span>All current and past orders</span></h2>

    </div><!-- /.header-content -->
    <!--/ End page header -->

    <!-- Start body content -->
    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12">

                <!-- Start sample table -->
                <div class="rounded mb-20">
                    <table id="datatable-dom" class="table table-striped table-theme">
                        <thead>
                        <tr>
                            <th class="text-center border-right">Order ID</th>
                            <th>Date Time</th>
                            <th>Client</th>
                            <th>Pick up Address</th>
                            <th>Drop off Address</th>
                            <th>Driver</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% _.each(orders, function (order) { %>
                            <tr>
                                <td class="text-center border-right"><a href="/company/order/<%= order.id %>">HD-<%= order.orderid %></a></td>
                                <td><%= order.pickupdate %> <%= order.pickuptime %></td>
                                <td><%= order.clientfname %> <%= order.clientlname %></td>
                                <td><%= order.pickuplocation %></td>
                                <td><%= order.finaldestination %></td>
                                <td><%= order.driver.fname %> <%= order.driver.lname %></td>
                                <td>
                                <% if(order.status == 'not started') { %>
                                    <span class="badge">Not Started</span>
                                <% } if(order.status == 'in progress') { %>
                                    <span class="badge badge-warning">In Progress</span>
                                <% } if(order.status == 'did not show up') { %>
                                    <span class="badge badge-danger">Did not show up</span>
                                <% } if(order.status == 'delivered') { %>
                                    <span class="badge badge-success">Delivered</span>
                                <% } if(order.status == 'invoiced') { %>
                                    <span class="badge badge-default">Invoiced</span>
                                <% } %>
                                </td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
                <!--/ End sample table -->

            </div>
        </div><!-- /.row -->

    </div><!-- /.body-content -->
    <!--/ End body content -->



</section><!-- /#page-content -->
<!--/ END PAGE CONTENT -->