<!-- START @PAGE CONTENT -->
<section id="page-content">

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-book"></i> Order</h2>
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <!-- Start body content -->
    <div class="body-content animated fadeIn">

        <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">

            <div class="panel rounded shadow">
                <div class="panel-body bg-facebook">
                    <ul class="list-unstyled no-margin">
                        <li class="text-center">
                            <i class="fa fa-book fa-5x" style="color:white;"></i>
                        </li>
                        <li class="text-center">
                            <h4 class="text-capitalize">HD-<%= order.orderid %></h4>
                        </li>
                        <li class="text-center">
                        <% if(order.status == 'not started') { %>
                            <span class="badge">Not Started</span>
                        <% } if(order.status == 'in progress') { %>
                            <span class="badge badge-warning">In Progress</span>
                        <% } if(order.status == 'did not show up') { %>
                            <span class="badge badge-danger">Did not show up</span>
                        <% } if(order.status == 'delivered') { %>
                            <span class="badge badge-success">Delivered</span>
                        <% } if(order.status == 'invoiced') { %>
                            <span class="badge badge-default">Invoiced</span>
                        <% } %>
                        </li>
                    </ul><!-- /.list-unstyled -->
                </div><!-- /.panel-body -->
            </div>

            <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="panel panel-success rounded shadow">
                            <div class="panel-heading text-center">
                                <p class="inner-all no-margin">
                                    <i class="fa fa-calendar fa-5x"></i>
                                </p>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body text-center">
                                <p class="h4 no-margin text-strong">
                                <%
                                var a = new Date(order.ordertime*1000);
                                var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                                var year = a.getFullYear();
                                var month = months[a.getMonth()];
                                var date = a.getDate();
                                var hour = a.getHours();
                                var min = a.getMinutes();
                                var sec = a.getSeconds();
                                var time = date + ',' + month + ' ' + year + ' ' + hour + ':' + min;
                                %>
                                <%= time %>
                                </p>
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel -->
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="panel panel-danger rounded shadow">
                            <div class="panel-heading text-center">
                                <p class="inner-all no-margin">
                                    <i class="fa fa-clock-o fa-5x"></i>
                                </p>
                            </div><!-- /.panel-heading -->
                            <div class="panel-body text-center">
                                <%
                                    var total_seconds = order.timelogged
                                    function pretty_time_string(num) {
                                      return ( num < 10 ? "0" : "" ) + num;
                                    }
                                    var hours = Math.floor(total_seconds / 3600);
                                    total_seconds = total_seconds % 3600;
                                    var minutes = Math.floor(total_seconds / 60);
                                    total_seconds = total_seconds % 60;
                                    var seconds = Math.floor(total_seconds);
                                    hours = pretty_time_string(hours);
                                    minutes = pretty_time_string(minutes);
                                    seconds = pretty_time_string(seconds);
                                    var currentTimeString = hours + ":" + minutes + ":" + seconds;
                                %>
                                <p class="h4 no-margin text-strong" style="line-height: 38px;"><%= currentTimeString %></p>
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel -->
                    </div>
                </div>

        </div>
        <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Order details</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding rounded-bottom">
                        <form action="#" class="form-horizontal form-bordered">
                            <div class="form-body">

                            <div class="form-group">
                            <label class="col-sm-3 control-label">Client Company</label>
                            <div class="col-sm-9">
                            <select disabled data-placeholder="Choose a Company" class="chosen-select mb-15" tabindex="2">
                            <option value=""><%= order.company.title %></option>
                            </select>
                            </div>
                            </div><!-- /.form-group -->


                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Client Reference number</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" disabled type="text" value="<%= order.referencenr %>">
                                    </div>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">First Name</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" disabled type="text" value="<%= order.clientfname %>">
                                    </div>
                                </div><!-- /.form-group -->


                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Last Name</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" disabled type="text" value="<%= order.clientlname %>">
                                    </div>
                                </div><!-- /.form-group -->


                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Client Email</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" disabled type="text" value="<%= order.clientemail %>">
                                    </div>
                                </div><!-- /.form-group -->


                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Client Phone</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" disabled type="text" value="<%= order.clientphone %>">
                                    </div>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Driver</label>
                                    <div class="col-sm-9">
                                    <select disabled data-placeholder="Choose a Company" class="chosen-select mb-15" tabindex="2">
                                    <option value=""><%= order.driver.fname %> <%= order.driver.lname %></option>
                                    </select>
                                    </div>
                            </div><!-- /.form-group -->

                            <div class="form-group">
                                    <label class="col-sm-3 control-label">Car (reg number)</label>
                                    <div class="col-sm-9">
                                    <select disabled data-placeholder="Choose a Company" class="chosen-select mb-15" tabindex="2">
                                    <option value="HD84 KPL"><%= order.car.regnr %> - <%= order.car.model %></option>
                                    </select>
                                    </div>
                            </div><!-- /.form-group -->



                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Pickup Location</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" disabled type="text" value="<%= order.pickuplocation %>">
                                    </div>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Other Stops</label>
                                    <div class="col-sm-9">
                                        <input type="text" disabled value="<%= order.otherstops %>" class="form-control" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Final Destination</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" disabled type="text" value="<%= order.finaldestination %>">
                                    </div>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Pickup date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" disabled value="<%= order.pickupdate %>" data-date-format="yyyy/mm/dd" id="dp2">
                                    </div>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Pickup time</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" disabled type="text" value="<%= order.pickuptime %>">
                                    </div>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Flight Number</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" disabled type="text" value="<%= order.flightnumber %>">
                                    </div>
                                </div><!-- /.form-group -->


                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Extra notes</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" disabled rows="5"><%= order.extranotes %></textarea>
                                    </div>
                                </div>

                            </div><!-- /.form-body -->
                        </form>
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
                <!--/ End input fields - horizontal form -->

        </div>
        </div><!-- /.row -->

    </div><!-- /.body-content -->
    <!--/ End body content -->

</section><!-- /#page-content -->
<!--/ END PAGE CONTENT -->