<!-- START @PAGE CONTENT -->
<section id="page-content">

    <!-- Start page header -->
    <div class="header-content">
        <h2><i class="fa fa-car"></i> Driver</h2>
    </div><!-- /.header-content -->
    <!--/ End page header -->

    <!-- Start body content -->
    <div class="body-content animated fadeIn">

        <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">

            <div class="panel rounded shadow">
                <div class="panel-body bg-soundcloud">
                    <ul class="list-unstyled no-margin">
                        <li class="text-center">
                            <i class="fa fa-car fa-5x" style="color:white;"></i>
                        </li>
                        <li class="text-center">
                            <h4 class="text-capitalize"><%= driver.fname %> <%= driver.lname %></h4>
                        </li>
                        <li>
                            <ul class="list-group no-margin br-3">
                                <li class="list-group-item bg-soundcloud"><i class="fa fa-envelope mr-5"></i> <%= driver.email %></li>
                                <li class="list-group-item bg-soundcloud"><i class="fa fa-phone mr-5"></i> <%= driver.phone %></li>
                            </ul>
                        </li>
                    </ul><!-- /.list-unstyled -->
                </div><!-- /.panel-body -->
            </div>
            <!-- Start input fields - horizontal form -->
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Driver Details</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding rounded-bottom">
                        <form action="/admin/driver/update/<%= driver.id %>" method="POST" class="form-horizontal form-bordered">
                            <div class="form-body">

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" placeholder="First Name" name="fname" type="text" value="<%= driver.fname %>">
                                    </div>
                                </div><!-- /.form-group -->


                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" placeholder="Last Name" name="lname" type="text" value="<%= driver.lname %>">
                                    </div>
                                </div><!-- /.form-group -->


                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" placeholder="Email" name="email" type="text" value="<%= driver.email %>">
                                    </div>
                                </div><!-- /.form-group -->


                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" placeholder="Phone" name="phone" type="text" value="<%= driver.phone %>">
                                    </div>
                                </div><!-- /.form-group -->

                            </div><!-- /.form-body -->
                            <div class="form-footer">
                                <div class="pull-right">
                                    <a href="javascript:void();" class="btn btn-danger" data-toggle="modal" data-target=".ec-delete">delete</a>
                                    <input class="btn btn-success" type="submit" value="save" />
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.form-footer -->
                        </form>
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
                <!--/ End input fields - horizontal form -->
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8">

        <!-- Start datatable using dom -->
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Jobs assigned to the driver</h3>
                        </div>
                        <div class="pull-right">
                            <a href="#" class="btn btn-info">EXPORT CSV</a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                    <!-- Start datatable -->
                    <table id="datatable-dom" class="table table-striped table-success">
                    <thead>
                    <tr>
                        <th data-hide="phone">Client</th>
                        <th data-class="expand">Company</th>
                        <th data-hide="phone">Start Point</th>
                        <th data-hide="phone">End Point</th>
                        <th data-hide="phone,tablet">Car</th>
                        <th data-hide="phone,tablet">Status</th>
                        <th data-hide="phone,tablet">Order ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(orders, function (order) { %>
                    <tr>
                        <td><%= order.clientfname %> <%= order.clientlname %></td>
                        <td><a href="/admin/company/<%= order.company.id %>"><%= order.company.title %></a></td>
                        <td><%= order.pickuplocation %></td>
                        <td><%= order.finaldestination %></td>
                        <td><a href="/admin/car/<%= order.car.id %>"><%= order.car.regnr %></a></td>
                        <td>
                        <% if(order.status == 'not started') { %>
                            <span class="badge">Not Started</span>
                        <% } if(order.status == 'in progress') { %>
                            <span class="badge badge-warning">In Progress</span>
                        <% } if(order.status == 'did not show up') { %>
                            <span class="badge badge-danger">Did not show up</span>
                        <% } if(order.status == 'delivered') { %>
                            <span class="badge badge-success">Delivered</span>
                        <% } if(order.status == 'invoiced') { %>
                            <span class="badge badge-default">Invoiced</span>
                        <% } %>
                        </td>
                        <td><a href="/admin/order/<%= order.id %>">HD-<%= order.orderid %></a></td>
                    </tr>
                    <% }) %>
                    </tbody>
                    </table>
                    <!--/ End datatable -->
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
                <!--/ End datatable using dom -->
        </div>
        </div><!-- /.row -->

    </div><!-- /.body-content -->
    <!--/ End body content -->

</section><!-- /#page-content -->
<!--/ END PAGE CONTENT -->

<div class="modal fade ec-delete" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="panel panel-danger">
<div class="panel-heading">
    <div class="pull-left">
        <h3 class="panel-title">Delete this driver?</h3>
    </div>
    <div class="pull-right">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel-body no-padding rounded-bottom">
    <form action="/admin/driver/destroy/<%= driver.id %>" method="POST" class="form-horizontal form-bordered">
        <!-- <input type="hidden" name="_method" value="delete" /> -->
        <div class="form-body">
            <div class="gap-30"></div>
            <h4 class="text-center">Are you sure, you want to delete this driver? Data recovery will not be possible!</h4>
            <div class="gap-30"></div>
        </div><!-- /.form-body -->
        <div class="form-footer">
            <div class="pull-right">
                <button class="btn btn-success mr-5" data-dismiss="modal">Cancel</button>
                <input class="btn btn-danger" type="submit" value="Delete" />
            </div>
            <div class="clearfix"></div>
        </div><!-- /.form-footer -->
    </form>
</div><!-- /.panel-body -->
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/ End table in modal element -->